#root {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

.card {
  padding: 1.4rem;
}


.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.title img {
  margin-right: 6px;
  
}
.title {
  align-items: center;
}